<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CheckMyPosture.com</title>
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css" integrity="sha384-z4tVnCr80ZcL0iufVdGQSUzNvJsKjEtqYZjiQrrYKlpGow+btDHDfQWkFjoaz/Zr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <button class = "goback" onclick="parent.location = 'index' " tabindex="0"><i class="fa fa-arrow-left" aria-hidden="true"></i><h4>Go Back</h4></button>
    <div class="middle">
        <h1 class="h-secondary center">Choose Your Alert Method</h1>
        <div class = "bt">
            <form action="{{ url_for('success') }}" method="POST">
                <button class="cbtn1" name="Text"  value="Text" tabindex="0">Text Alert</button>
                <button class="cbtn2" name="Voice"  value="Voice" tabindex="0">Voice Alert</button>
                <button class="cbtn2" name="Both"  value="Both" tabindex="0">Both</button>
            </form>

        </div>
       
    </div>
</body>
</html>